<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyOrangeFit"
        tools:targetApi="31">
        <activity
            android:name=".activity.StatisticsWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDadyiDtr0GvB57Pq4qeIRQp7rShp1tIkU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--
            <receiver android:name=".PauseResumeReceiver" />
            <receiver android:name=".StopReceiver" />
        -->
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SeriesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".compose.Scale"
            android:exported="false"
            android:label="@string/title_activity_scale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyOrangeFit" />
        <activity
            android:name=".compose.Clock"
            android:exported="false"
            android:label="@string/title_activity_clock"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyOrangeFit" />
        <activity
            android:name=".activity.ExerciseSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BodyPartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddWorkoutTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ManageWorkoutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyOrangeFit.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>